<div class="notification-container">
  <h2>{{ type }}</h2>

  @if(type === 'campaign_created' || type === 'campaign_updated' || type ===
  'campaign_deleted') {

  <h3>Title: {{ metadata?.['campaign_title'] }}</h3>
  <div class="span-containers">
    <span> Created by: {{ metadata?.['created_by'] }}</span>
    <span
      >Start Date: {{ metadata?.['start_date'] | date : "MM/dd/yyyy" }}</span
    >
    <span>End Date: {{ metadata?.['end_date'] | date : "MM/dd/yyyy" }}</span>
    <span>{{ created_date | date : "shortDate" }}</span>
  </div>

  } @else if (type === 'user_created') {

  <h3>User: {{ metadata?.['username'] }}</h3>
  <div class="span-containers">
    <span>Email: {{ metadata?.['email'] }}</span>
    <span>{{ created_date | date : "shortDate" }}</span>
  </div>
  }
</div>
